In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

from acquire import *
from evaluate import *
from IPython.display import Markdown

In [92]:
# import telco_data from from CSV if it exists, otherwise import from mySQL
df = get_telco_data()

# These are the markdown format data_dicts that define the project
target_dict, feature_dict = fetch_data_dict(df)

In [3]:
df.shape

(7043, 21)

### Since total_charges is an object it will need to be converted to a float64 as the total_charges

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   object
 1   gender                 7043 non-null   object
 2   senior_citizen         7043 non-null   int64
 3   partner                7043 non-null   object
 4   dependents             7043 non-null   object
 5   tenure                 7043 non-null   int64
 6   phone_service          7043 non-null   object
 7   multiple_lines         7043 non-null   object
 8   online_security        7043 non-null   object
 9   online_backup          7043 non-null   object
 10  device_protection      7043 non-null   object
 11  tech_support           7043 non-null   object
 12  streaming_tv           7043 non-null   object
 13  streaming_movies       7043 non-null   object
 14  paperless_billing      7043 non-null   object
 15  monthly_charges        7043 non-null   float64
 16  total_charges          7043 non-null   object
 17  churn                  7043 non-null   object
 18  contract_type          7043 non-null   object
 19  internet_service_type  7043 non-null   object
 20  payment_type           7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [93]:
# Replace total_charges with zero for those who don't have any tenure yet (AKA. new customers)
df.total_charges.replace({' ': 0}, inplace=True)
df.total_charges = df.total_charges.astype('float64')

# Drop customer_id because each is a unique id and doesn't tell us any information about
# each customer.
df.drop(columns=['customer_id'], inplace=True)

In [88]:
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,Female,0,Yes,Yes,65,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,90.45,5957.90,No,Two year,DSL,Mailed check
1,Male,0,No,No,54,No,No phone service,Yes,No,No,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic)
2,Female,0,No,No,56,No,No phone service,Yes,Yes,Yes,Yes,No,No,No,45.05,2560.10,No,Two year,DSL,Bank transfer (automatic)
3,Male,0,Yes,Yes,20,No,No phone service,Yes,No,Yes,Yes,No,No,Yes,39.40,825.40,No,Two year,DSL,Credit card (automatic)
4,Male,0,Yes,No,72,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,85.15,6316.20,No,Two year,DSL,Bank transfer (automatic)

In [95]:
replace_key = {
    'gender': {'Female': 0, 'Male': 1},
    'partner': {'Yes': 1, 'No': 0},
    'dependents': {'Yes': 1, 'No': 0},
    'phone_service': {'Yes': 1, 'No': 0},
    'multiple_lines': {'Yes': 1, 'No phone service': 2, 'No': 0},
    'online_security': {'Yes': 1, 'No': 0, 'No internet service': 2},
    'online_backup': {'Yes': 1, 'No': 0, 'No internet service': 2},
    'device_protection': {'Yes': 1, 'No': 0, 'No internet service': 2},
    'tech_support': {'Yes': 1, 'No': 0, 'No internet service': 2},
    'streaming_tv': {'Yes': 1, 'No': 0, 'No internet service': 2},
    'streaming_movies': {'Yes': 1, 'No': 0, 'No internet service': 2},
    'paperless_billing': {'Yes': 1, 'No': 0},
    'churn': {'Yes': 1, 'No': 0},
    'contract_type': {'Two year': 0, 'One year': 1, 'Month-to-month': 2},
    'internet_service_type': {'DSL': 0, 'Fiber optic': 1, 'None': 2},
    'payment_type': {'Mailed check': 0, 'Credit card (automatic)': 1,
                     'Bank transfer (automatic)': 2, 'Electronic check': 3}
            }
df.replace(to_replace=replace_key, inplace=True)
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0,0,1,1,65,1,1,1,1,1,1,1,1,1,90.45,5957.90,0,0,0,0
1,1,0,0,0,54,0,2,1,0,0,1,1,0,0,45.20,2460.55,0,0,0,1
2,0,0,0,0,56,0,2,1,1,1,1,0,0,0,45.05,2560.10,0,0,0,2
3,1,0,1,1,20,0,2,1,0,1,1,0,0,1,39.40,825.40,0,0,0,1
4,1,0,1,0,72,1,1,0,1,1,1,1,1,1,85.15,6316.20,0,0,0,2

In [100]:
# print(df.describe().T.to_markdown())

In [27]:
# df, rk, rvk = replace_obj_cols(df)
(df.total_charges == None).sum()

0